#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utility;
Comment=A desktop agnostic launcher
Exec=albert
GenericName=Launcher
Icon=/home/aleksa/Documents/Dock/Icons/albert.png
Name=Albert
StartupNotify=false
Type=Application
Version=1.0
