[Desktop Entry]
X-SnapInstanceName=drawio
Name=draw.io
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/drawio_drawio.desktop /snap/bin/drawio
Terminal=false
Type=Application
Icon=/home/{{ username }}/Documents/Dock/Icons/draw-io.png
StartupWMClass=draw.io
Comment=Diagram software for making flowcharts, process diagrams, ER and network diagrams.
MimeType=application/vnd.jgraph.mxfile;application/vnd.visio;
Categories=Graphics;
