[Desktop Entry]
Name=pcloud
Comment=pCloud is the secure cloud storage, where you can store, share and work on all your files
Exec="/home/{{ username }}/Applications/pCloud.AppImage" %U
Terminal=false
Type=Application
Icon=/home/{{ username }}/Documents/Dock/Icons/pcloud.png
StartupWMClass=pcloud
X-AppImage-Version=1.8.0
Categories=Network;
X-AppImage-BuildId=1ZtL9sNKRG3MJgivps3ENhQ2Yn3
X-Desktop-File-Install-Version=0.23
TryExec=/home/{{ username }}/Applications/pCloud.AppImage
