[Desktop Entry]
Name=Desktop
Exec=nautilus ./Desktop
Icon=/home/{{ username }}/Documents/Dock/Icons/desktop.png
Terminal=false
Type=Application
Comment=Your desktop
