[Desktop Entry]
Name=Downloads
Exec=nautilus ./Downloads
Icon=/home/{{ username }}/Documents/Dock/Icons/downloads.png
Terminal=false
Type=Application
Comment=Your downloads
