[Desktop Entry]
Name=Home
Exec=nautilus
Icon=/home/{{ username }}/Documents/Dock/Icons/home.png
Terminal=false
Type=Application
Comment=Your home folder
