[Desktop Entry]
X-SnapInstanceName=rambox
Name=Rambox
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/rambox_rambox.desktop /snap/bin/rambox
Terminal=false
Type=Application
Icon=/home/{{ username }}/Documents/Dock/Icons/rambox.png
StartupWMClass=Rambox
Categories=Network;
Comment=Free and Open Source messaging and emailing app that combines common web applications into one
