[Desktop Entry]
Type=Application
Exec=/usr/local/bin/fusuma --config /home/{{ username }}/.config/fusuma/config.yml --daemon
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Fusuma
Name=Fusuma
Comment[en_US]=
Comment=
