[Desktop Entry]
Name=Todoist
Comment=Productivity tool you need to get work and life organized.
Exec="/opt/Todoist/todoist" %U
Terminal=false
Type=Application
Icon=/home/{{ username }}/Documents/Dock/Icons/todoist.png
StartupWMClass=Todoist
Categories=Utility;Productivity;
